<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:property-placeholder location="classpath:usersData.properties"/>

    <bean class="service.impl.UserServiceImpl" id="userService" autowire="constructor"/>

    <bean class="dao.impl.UserDaoImpl" id="userDao">
        <property name="userStorage" ref="storage"/>
    </bean>

    <bean class="service.impl.EventServiceImpl" id="eventService" autowire="constructor"/>

    <bean class="dao.impl.EventDaoImpl" id="eventDao">
        <property name="eventStorage" ref="storage"/>
    </bean>

    <bean class="service.impl.TicketServiceImpl" id="ticketService" autowire="constructor"/>

    <bean class="dao.impl.TicketDaoImpl" id="ticketDao">
        <property name="ticketStorage" ref="storage"/>
    </bean>

    <bean class="storage.Storage" id="storage"/>

    <bean id="testUser" class="model.impl.UserImpl">
        <constructor-arg name="name" value="${user.name}"/>
        <constructor-arg name="email" value="${user.email}"/>
    </bean>

    <util:map id="users" map-class="java.util.HashMap">
        <entry key="1" value-ref="testUser"/>
        <entry key="2" value-ref="testUser"/>
        <entry key="3" value-ref="testUser"/>
        <entry key="4" value-ref="testUser"/>
    </util:map>
</beans>